.card-container {
  perspective: 3em;
  width: 3em;
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 25px;
  padding: 5px;
}

.large {
  width: 6em;
  height: 6em;
  font-size: 48px;
  font-weight: 700;
  border: 3px solid black;
}

.card-flip, .card-container {
  transform-style: preserve-3d;
  transition: all 0.7s ease;
}

.card-flip div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.hide-visibility {
  visibility: hidden; 
}

.front p {
  text-align: center;
}

.back {
  transform: rotateY(-180deg);
  text-align: center;
}
  
.card-flip {
  transform: rotateY(180deg);
}